<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Manager App</title>

    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <div class="container">
      <div>
        <p class="head">Task Manager App</p>
      </div>

      <div class="add-task-box">
        <form action="/add-task" method="post">
          <div class="row-one">
            <input
              class="task-title-field"
              type="text"
              placeholder="Enter a new title"
              name="title"
            />
            <button type="submit" class="add-task-button">Add new task</button>
          </div>
          <div class="row-two">
            <input name="isCompleted" type="checkbox" />
            <p class="iscomplete-text">The task is complete</p>
          </div>
        </form>
      </div>

      <div class="list">
        <% for(let task of tasks) { %> <%- include("task", {task}) %> <% } %>
      </div>
    </div>
    <script src="js/axios.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
